*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

 body {
    width: 100vw;
    scroll-behavior: smooth;
    scrollbar-color: #000000;
    overflow-x: hidden;

}  



/* ---------------------falling blob ------------------------ */

 ::selection {
    background-color: #0b011bc0;
} 

header {
    height: 0vh;
    width: 100%;
    background-size: 100%;
    line-height: 180px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.534);
    /* z-index: ; */
}

.main-tool-bar {
    height: 100%;
    width: 100%;
    font-family: Parisienne;
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    background: url(1338714.png) right transparent;
    padding-top: 2%;
    z-index: 99;
    opacity: 0.65;
    left: 0;
    top: 0;
    transition: ease-in-out 1.3s;
    list-style: none;

}

#text {
    text-decoration-style: double;
    text-shadow: 2px 1.5px 2px rgb(200, 255, 1);
    text-decoration-color: rgba(205, 112, 50, 0.678);
     
}


.alineabreak{
    height:120px;
}


.logo {
    text-align: center;
    font-size: 8.5rem;
    font-family: Parisienne;
    color: rgba(3, 51, 27, 0.952);
    z-index: 9;
    transform: rotateZ('angle');
    position: fixed;
    transition: 2.2s;
    transform: rotate(720deg);
}

#shadow {
    text-shadow: 4px 5px 5px rgb(238, 255, 0);
    animation: shadow 5s ease-in-out 2.8s infinite;
    animation-direction:reverse;
    justify-content: center;
    position: relative;
    top: 60px;
    z-index: 9;
}

@keyframes shadow { 
    50% {
        scale: 1.001;
        text-shadow: 4px 5.5px 5px rgba(238, 255, 0, 0.753);
        opacity: 0.85;

    }

    30% {
        scale: 0.999;
        text-shadow: 4px 5.5px 5px rgba(255, 255, 255, 0.253);
        opacity: 0.75;
    }

    50% {
        scale: 1;
        text-shadow: 4px 5.5px 5px rgba(240, 205, 10, 0.897);
        opacity: 0.7;
    }
}


.logo::before{
    /* width: fit-content; */
    filter: blur(8px);
}

.logo::after {
    color: #000000;
    transition: 1s;
    filter: blur(0.2px);
}

.logotext {
    width: 50vw;
    margin:auto;
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: Parisienne;
    color: rgba(3, 51, 27, 0.952);
    position: fixed;
    z-index: 8;


}
@keyframes shadowtext {
    30% {
        text-shadow:  1.5px 1.5px 0.3px rgba(219, 210, 33, 0.856);  
        from {bottom: -200px;}
    }

    50%{
        /* background-image: blur(2px); */
        text-shadow:  1.5px 1px 0.3px rgba(219, 210, 33, 0.856);
        to {bottom: 200px;}  
    }

}


.navigation {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    width: 100vw;
    position: relative;   
    border-bottom: rgba(0, 0, 0, 0.096);
    font-size: 3rem;
    
}

.Lightblob
{
    width: 250px;
    transition: 1.8s;
    margin:  5px;
    text-align: center;
    justify-content: center;
    position: relative;
}

.Lightblob:hover
{
    transform: scale(1.08);
}

.Lightblob:hover > .paars
{
    box-shadow: rgb(170, 255, 0);
    border: rgba(253, 7, 142, 0.404) double 5px;
    background: rgba(255, 153, 0, 0.24);
    box-shadow: infinite #ffffff 4px;
    color: rgba(255, 0, 98, 0.801);
}

.Lightblob a
{
    /* width: 160px;
    height: 60px; */
    color: rgba(225, 250, 114, 0.733);
    margin: 50px;
    transition: 0.35s;
    border-radius: 100%;
}

.Lightblob:hover > .lampje
{ 
    opacity: 0.75;
    animation: licht 3.8s ease-in-out infinite;
}

.circle{
    padding: 0;
    margin: 0;
}

.lampje
{
    opacity: 0;
    background: radial-gradient(circle, rgb(240, 228, 217)11%, rgb(245, 248, 35)100%); 
    position: absolute;
    transition: 2s;
    width: 145px;
    height: 75px;
    padding: 20px;
    border-radius: 100%;
    top: 50.5%;
    left: 49.5%;
    transform: translate(-49%, -51%);
    z-index: -1;
    border: rgba(241, 111, 25, 0.205) groove 5px;
    /* transform-origin: center ; */
}

.lampje a
{
    color: rgb(252, 252, 252);
}

@keyframes licht {
    0% {
        scale: 1;
        padding:10px;
        opacity: 0.2;
    }
    50% {
        scale:1.02;
        padding:10px;
        opacity: 0.75;
        translate: 1.025% 1.025%;
    }
    100% {
        scale: 0.98;
        padding:18px;
        opacity: 0.2;
    }
}

/* <----------- parallax ---------> */

.main{
    height: 100vh;
    width: 100vw;
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.container{
    height: 100vh;
    width: 100vw;
    margin-top: 54%;
    position: relative;

    overflow-x: hidden;
    /* position: fixed; */
    /* z-index: 7; */

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.layer1 {
    height: 101%;
    width: 100%;
    padding-bottom: 0px;
    /* padding-left: 10px; */
    opacity: 0.2;
    position: absolute;
    /* background: url(GecpZ6zgRnVknxviUNJt--1--76knw.webp) center / cover; */
    z-index: 9;
}

.layer2 {
    height: 101%;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    /* background: url(GecpZ6zgRnVknxviUNJt--1--76knw.webp) center / cover; */
    z-index: 8;
}

.layer3 {
    height: 101%;
    width: 100%;
    margin-bottom: 100px;
    opacity: 1;
    position: absolute;
    background: url(GecpZ6zgRnVknxviUNJt--1--76knw.webp) center / cover;
    z-index: 7;
}

.layer4 {
    height: 100%;
    width: 100%;
    opacity: 0.01;
    position: absolute;
    z-index: 6;
}

.container #background {
    height: 100vh;
    width: 102vw;
    background-color:  rgb(0, 0, 0);
    perspective: 5px;
    overflow-x: hidden;
    position: relative;
}

.parallax_wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

    .intro_screen {
      height: 100vh;
      width: 100vw;

      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    #intro {
        height: 100%;
        width: 100%;
        background-position: center;
        background-image: url(Cat-Butterfly.gif);
        
    }

    .introbubble {
        height: 100vh;
        width: 100vw;
        opacity: 0.15;
        position: ;
    }

    .outro_screen {
      height: 90vh;
      background-image: url(magic-forest-generative-aix9_195703-1428.avif);
      background-color: rgb(99, 0, 165);
      background-size: cover;
      background-position: center;
    }

    .parallax_group {
      position: relative;
      height: 100vh;
      transform-style: preserve-3d;
    }

    .parallax_layer {
      position: absolute;
      inset: 0;
      /* display: flex;
      justify-content: center;
      align-items: center; */
    }

    .base_layer {
      /* scale calculation: 1 + ((Z transfrom value * -1) / perspective) */
      transform: translateZ(-300px) scale(4.2);
      background-image: url(cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEwL3Jhd3BpeGVsb2ZmaWNlMTFfc2NlbmVfb2ZfbGl0dGxlX2FuZ2VsZmFpcnlfdGFsZV9mb3Jlc3Rfd2l0aF9tYV8xN2M4NDBjNS1mODQ3LTQ0YmMtYTk3OS01MDhlOGQxOWY4YzdfMS5qcGc.webp);
      background-size: cover ;
      }

      .base {
        height: 100%;
        width: 100%;
        opacity: 0.3;
      }

      .mid_layer {
        transform: translateZ(300px) scale(1.5);
        background-image: url(dark-occult-gif-images-women-esoteric-underworld-relam.gif);
        background-size: cover ;
        background-position: fixed;
        opacity: ;
      }

      .top_layer {
        transform: translateZ(210px) scale(0.307);
        background-image: url(1648428119-5bb3f8af4ea2b54339e840b8b718c482843959ebfd9ef9041dab945d34f544bd-d_640x360.jpg);
        background-size: cover;
      }

      .top_layer2 {
        transform: translateZ(210px) scale(0.307);
        background-image: url(1636061276-a9b9881d4d7f0b7c7e3d5f51bbe51c0b10785f4459ad40aeded790642cafe6e2-d_640x360.jpg);
        background-size: cover;
        
      }
    
      .dust {
        height: 100%;
        width: 100%;
        opacity: 0.2;
        position: absolute;
      }

      .dust2 {
        height: 100%;
        width: 100%;
        opacity: 0.1;
        position: relative;
      }

      .fairy {
        height: 100%;
        width: 100%;
        opacity: 0.35;
      }

      .eyes {
        height: 100%;
        width: 100%;
        opacity: 0.6;
        position: absolute;
      }

      .eyes2 {
        height: 100%;
        width: 100%;
        opacity: 0.025;
        position: relative;
      }

    #intro {
      z-index: 0;
    }

    #group1 {
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    #group1 > .base_layer {
      background-color: aqua;
    }

    #group2 {
      z-index: -1;
    }
    #group2 > .mid_layer {
      background-color: chartreuse;
    }

    #outro {
      z-index: 0;
    }

    #base {
        z-index: 0;
    }


